In [1]:
my_list = [10, 20, 30, 40, 50]
first_element = my_list[0]
second_element = my_list[1]
last_element = my_list[-1]

print("First element:", first_element)
print("Second element:", second_element)
print("Last element:", last_element)

First element: 10
Second element: 20
Last element: 50

In [5]:
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]
fourth_element = my_tuple[3]
second_last_element = my_tuple[-2]

print("Third element:", third_element)
print("Fourth element:", fourth_element)
print("Second last element:", second_last_element)

Third element: 3
Fourth element: 4
Second last element: 4

In [9]:
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York",
    "job": "Developer",
    "country": "USA"
}
name_value = my_dict["name"] 
city_value = my_dict["city"]
keys = my_dict.keys() 
values = my_dict.values() 

print("Name:", name_value)
print("City:", city_value)
print("All keys:", list(keys))
print("All values:", list(values))

Name: John
City: New York
All keys: ['name', 'age', 'city', 'job', 'country']
All values: ['John', 30, 'New York', 'Developer', 'USA']