In [14]:
import pandas as pd

In [16]:
fp=r"C:\Users\nutha\Downloads\Day_11_banking_data.csv"
banking_data=pd.read_csv(fp)

In [18]:
# Sort the dataset by Account_Balance in descending order and display the first 10 rows
sorted_data = banking_data.sort_values(by='Account_Balance', ascending=False)
print("Top 10 rows sorted by Account_Balance (descending):")
print(sorted_data.head(10))

Top 10 rows sorted by Account_Balance (descending):
          Date       Account_Type    Branch Transaction_Type  \
15  2023-01-03            Savings  Suburban   Service Charge
8   2023-01-20  Recurring Deposit  Downtown   Service Charge
2   2023-01-10            Current    Uptown     Loan Payment
7   2023-01-09            Current   Central     Loan Payment
17  2023-01-07            Current   Central     Loan Payment
1   2023-01-16            Current    Uptown       Withdrawal
19  2023-01-17            Savings   Central          Deposit
18  2023-01-12  Recurring Deposit  Suburban   Service Charge
16  2023-01-02      Fixed Deposit   Central          Deposit
14  2023-01-01      Fixed Deposit  Downtown       Withdrawal

    Transaction_Amount  Account_Balance
15             3350.32         12836.51
8              3899.98         12646.56
2              3363.85         12428.67
7              2346.72         10708.85
17             4116.52          9785.64
1               641.43          8908.39
19             4516.52          8789.19
18             1339.57          8666.74
16             4421.57          8330.40
14             4136.54          8175.08

In [22]:
# Create a ranking column for Transaction_Amount within each Branch
banking_data['Transaction_Rank'] = banking_data.groupby('Branch')['Transaction_Amount'].rank(ascending=False)
print("\nDataset with Transaction_Rank within each Branch:")
print(banking_data[['Branch', 'Transaction_Amount', 'Transaction_Rank']])

Dataset with Transaction_Rank within each Branch:
      Branch  Transaction_Amount  Transaction_Rank
0    Central              985.51               7.0
1     Uptown              641.43               4.0
2     Uptown             3363.85               1.0
3     Uptown             1914.60               2.0
4   Suburban             2788.57               3.0
5   Suburban             4584.05               1.0
6    Central             1621.82               6.0
7    Central             2346.72               5.0
8   Downtown             3899.98               2.0
9   Downtown             1529.59               3.0
10   Central              846.41               8.0
11  Suburban             1803.88               4.0
12    Uptown             1225.50               3.0
13   Central             4683.64               1.0
14  Downtown             4136.54               1.0
15  Suburban             3350.32               2.0
16   Central             4421.57               3.0
17   Central             4116.52               4.0
18  Suburban             1339.57               5.0
19   Central             4516.52               2.0