In [11]:

import pandas as pd

In [13]:
data = pd.read_csv(r"C:\Users\nutha\Downloads\Day_8_sales_data.csv")

In [15]:
sales_above_1000 = data[data['Sales'] > 1000]
print("Sales Records with Sales Greater Than 1000:")
print(sales_above_1000)

Sales Records with Sales Greater Than 1000:
          Date     Product Region    Sales  Profit  Quantity
0   2023-01-02      Tablet   East  1061.81  236.12         7
1   2023-01-06      Laptop  North  1926.07  246.34         8
2   2023-01-03      Tablet   East  1597.99  253.17         3
3   2023-01-20      Tablet  North  1397.99  242.23         1
7   2023-01-07  Smartphone   East  1799.26  364.97         4
8   2023-01-11  Smartphone   West  1401.67  306.24         2
9   2023-01-01      Laptop  North  1562.11  170.72         6
11  2023-01-12      Laptop   West  1954.86  262.16         4
12  2023-01-09     Monitor  North  1748.66  197.62         6
17  2023-01-18     Monitor   West  1287.13  153.86         7
18  2023-01-13      Tablet   West  1147.92  271.88         9

In [17]:

east_region_sales = data[data['Region'] == 'East']
print("\nSales Records for East Region:")
print(east_region_sales)

Sales Records for East Region:
          Date     Product Region    Sales  Profit  Quantity
0   2023-01-02      Tablet   East  1061.81  236.12         7
2   2023-01-03      Tablet   East  1597.99  253.17         3
6   2023-01-14    Keyboard   East   587.13   82.16         8
7   2023-01-07  Smartphone   East  1799.26  364.97         4
14  2023-01-08      Laptop   East   772.74  226.51         2

In [19]:
data['Profit_Per_Unit'] = data['Profit'] / data['Quantity']
print("\nData with Profit Per Unit:")
print(data[['Product', 'Profit', 'Quantity', 'Profit_Per_Unit']])

Data with Profit Per Unit:
       Product  Profit  Quantity  Profit_Per_Unit
0       Tablet  236.12         7        33.731429
1       Laptop  246.34         8        30.792500
2       Tablet  253.17         3        84.390000
3       Tablet  242.23         1       242.230000
4       Laptop  140.36         4        35.090000
5       Tablet  188.66         2        94.330000
6     Keyboard   82.16         8        10.270000
7   Smartphone  364.97         4        91.242500
8   Smartphone  306.24         2       153.120000
9       Laptop  170.72         6        28.453333
10     Monitor  117.59         6        19.598333
11      Laptop  262.16         4        65.540000
12     Monitor  197.62         6        32.936667
13  Smartphone  237.19         2       118.595000
14      Laptop  226.51         2       113.255000
15    Keyboard  202.83         4        50.707500
16      Tablet  153.90         8        19.237500
17     Monitor  153.86         7        21.980000
18      Tablet  271.88         9        30.208889
19      Tablet  176.15         8        22.018750

In [21]:
import numpy as np
data['High_Sales'] = np.where(data['Sales'] > 1000, 'Yes', 'No')
print("\nData with High Sales Column:")
print(data[['Product', 'Sales', 'High_Sales']])

Data with High Sales Column:
       Product    Sales High_Sales
0       Tablet  1061.81        Yes
1       Laptop  1926.07        Yes
2       Tablet  1597.99        Yes
3       Tablet  1397.99        Yes
4       Laptop   734.03         No
5       Tablet   733.99         No
6     Keyboard   587.13         No
7   Smartphone  1799.26        Yes
8   Smartphone  1401.67        Yes
9       Laptop  1562.11        Yes
10     Monitor   530.88         No
11      Laptop  1954.86        Yes
12     Monitor  1748.66        Yes
13  Smartphone   818.51         No
14      Laptop   772.74         No
15    Keyboard   775.11         No
16      Tablet   956.36         No
17     Monitor  1287.13        Yes
18      Tablet  1147.92        Yes
19      Tablet   936.84         No